# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-yaml
      - id: check-added-large-files
      - id: check-shebang-scripts-are-executable
      - id: check-toml
      - id: check-merge-conflict
        args: [--assume-in-merge]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.11.2
    hooks:
      # Run the linter.
      - id: ruff
        args:
          - --fix
      # Run the formatter.
      - id: ruff-format
  - repo: https://github.com/woodruffw/zizmor-pre-commit
    rev: v1.5.2
    hooks:
      - id: zizmor
  - repo: local
    hooks:
      - id: ty
        name: ty (via uvx)
        # This executes exactly what you run in the terminal
        entry: uvx ty check --error-on-warning
        language: system
        types: [python]
        pass_filenames: false